<div class="home-container">
    <nav>
        <ul>
            <li>Politics</li>
            <li>Economy</li>
        </ul>
        <ul>
            <li>Environment</li>
            <li>Science</li>
        </ul>
        <ul>
            <li>Culture</li>
            <li>Sport</li>
        </ul>
        <ul>
            <li>Society</li>
            <li>Entertainment</li>
        </ul>
    </nav>

    <main>
    <div class="ui-card">
        <div class="topic">Politics</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Economy</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Environment</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Science</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Culture</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Sport</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Society</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    <div class="ui-card">
        <div class="topic">Entertainment</div>
        <article class="story">
        <h1 class="story-title">
        </h1>
        <h1 class="article-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
        <img src="" alt="" class="story-thumb">
        <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    </div>

    </main>
</div>