<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bubble News App</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

<%# <% if logged_in? %>
  <header class= "container">
    <div class = "profile">
      <div><img src="http://placekitten.com/80/80" alt=""></div>
      <div>Kitten</div>
    </div>
    <div class = "heading"><h1>Bubbles</h1></div>
    <div class = "navigation">
      <div> <a href="">Add Story</a></div>
      <div class = "notification">
        <div class="invite-number"><a href="">3</a></div>
        <div class="invitation"><a href="">Invitations</a></div>
        <%# /user/<%=current_user.id - the links for above%> 
      </div>
      <%# <% if loggen_in? %> 
        <%# <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete"> %>
        
          <button class="sign-out">Sign Out</button>
        <%# </form> %>
        <%# <% end %>
    </div>
  </header>
        

  <%= yield %>

  <footer></footer>
</body>
</html>