<style>
  .login-form {
    text-align: center;
  }

  .login-form label {
    display: inline-block;
    width: 5rem;
    text-align: left;
  }
</style>

<div class="container login">

  <header>
    <h1>Login</h1>
  </header>

  <main>
    <div class="login-form bright">
      <form action="/session" method="post">
        <div>
          <label for="email">Email</label>
          <input type="text" name="email">
        </div>

        <div>
          <label for="">Password</label>
          <input type="password" name="password">        
        </div>

        <div><button>Login</button></div>
      </form>
    </div>
  </main>

</div>