<div class="container new"> 
    <header>
        <h1>Add Story</h1>
    </header>


    <main>
      <div class="topic-title">
        <label for="">Title</label>
        <input class="story-title"type="text" placeholder="What's this about?">
      </div>
      
      <div class="select-topics">
        <label for="">Topics</label>
        <div class="topics-container">
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=5 name="culture" value="culture">
                <label for="" class="medium">Culture</label>
            </div>
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=2 name="Economy" value="economy">
                <label for="" class="medium">Economoy</label>
            </div>
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=8 name="entertainment" value="entertainment">
                <label for="" class="medium">Entertainment</label>
            </div>
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=4 name="science" value="science">
                <label for="" class="medium">Science</label>    
            </div>
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=1 name="politics" value="politics">
                <label for="" class="medium">Politics</label>
            </div>
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=3 name="environment" value="environment">
                <label for="" class="medium">Environment</label>
            </div>
            <div class="each-topic medium">
                <input type="checkbox" class="topics" data-topic-id=7 name="society" value="society">
                <label for="" class="medium">Society</label> 
            </div>
            <div class="each-topic">
                <input type="checkbox" class="topics" data-topic-id=6 name="sports" value="sports">
                <label for="">Sports</label>
            </div>
        </div>
    </div>

        <label for="">Article</label>
        <input class="url-or-keyword" type="text" placeholder="Search Google">
        <button class="google-news-btn">Google News</button>
        
        <div class="news-container"></div>
    </main>
</div>

<style>
/* Topic CSS */
    main {
        border: 1px solid grey;
        padding-left: 10px;
    }

    .topics-container {
        display: grid;
        grid-template-columns: 100px 100px 130px;
        grid-template-rows: 30px 30px 30px;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        background-color: lightgrey;
    }

    .select-topics {
        display: flex;
    }

    .each-topic {
        width: 30%;
        margin: 2px;
        display: flex;
    }

    input[type="checkbox"]:checked + label {
        border: 1px solid grey;
        background-color: grey;
    } 

    /* Article Listing CSS */

    .article-container, .article-one-container {
        border: 1px solid black;
        margin-top: 15px; 
        margin-right: 10px;
        text-align: left;
    }

    .choose-link {
        margin-bottom: 10px;
        text-align: center;
    }

    .article-img-description {
        display: flex;
    }

    .article-img-description img {
        width: 30%;
        height: 30%;
    }

    .article-img-description p {
        width: 70%;
        padding-left: 10px;
    }

</style>

<%# <script src="https://code.jquery.com/jquery-3.4.1.js"></script> %>
<script>
    var getUrlOrKeyword = document.querySelector('.url-or-keyword')
    var setNewsContainer = document.querySelector('.news-container')
    var searchGoogleNews = document.querySelector('.google-news-btn')
    var getStoryTitle = document.querySelector('.story-title')
    var getTopics = document.querySelectorAll('#topic')

    var handleSearchGoogleNews = function(event) {    
        var options = {
            url: `https://newsapi.org/v2/everything?q=${getUrlOrKeyword.value}&apiKey=cf309649c7dd4427b754becfef57272c`,
            method: 'get'
        }

        var handleDone = function(res) {
            // array
            for(let i = 0; i < res.articles.length; i++) {
                var div = document.createElement('div')
                setNewsContainer.append(div)
                div.innerHTML = 
                `<div class="article-container"> 
                    <h3>${res.articles[i].title}</h3>
                    <div class="article-img-description">
                        <img class="article-image" src="${res.articles[i].urlToImage}">
                        <p>${res.articles[i].description}</p>
                    </div>
                    <div class="choose-link">
                        <button class="choose-btn">Choose</button><br>
                        <a class="article-link" href="${res.articles[i].url}" target="_blank">View Full Article</a>
                    </div>
                </div>`
            }
        }

        $.ajax(options).done(handleDone)
    }

    // click anywhere in news-container div
    var handleChooseArticle = function(event) {
        let chosenTopics = document.querySelectorAll('.topics:checked')
        let chosenTopicsIds = Array.from(chosenTopics).map(topic => topic.getAttribute('data-topic-id'))
        if(event.target.classList.contains('choose-btn')) { // find the 'choose' button
            $.ajax({
                url: '/new',
                method: 'post',
                data: {
                    story_title: getStoryTitle.value,
                    chosen_topics: chosenTopicsIds,
                    article_title: event.target.closest('.article-container').querySelector('h3').textContent,
                    article_url: event.target.closest('.article-container').querySelector('.article-link').href,
                    article_description: event.target.closest('.article-container').querySelector('p').textContent,
                    article_image_url: event.target.closest('.article-container').querySelector('.article-image').src
                },
                dataType: 'json',
                success: function (res) {
                    if (res.redirect !== undefined && res.redirect) {
                        window.location.href = res.redirect_url
                    }
                }
            })
        }  
    }

    setNewsContainer.addEventListener('click', handleChooseArticle)


    // var handleSelectTopics = function (event) {
    //     event.target.classList.add('selectedTopics')
    //     if(event.target.classList.contains('selectedTopics')) {
    //         if(chosenTopics == "") {
    //             chosenTopics = event.target.textContent
    //         } else {
    //             chosenTopics = chosenTopics + " " + event.target.textContent
    //         }
    //     }
    // }

    // getTopics.forEach(function(item) {
    //     item.addEventListener('click', handleSelectTopics)
    // })

    searchGoogleNews.addEventListener('click', handleSearchGoogleNews)
</script>
