<div class="container-show">

  <header>
    <h1><%= @story.title %></h1>
    <span>Posted by @story.creator_id | 21 May | Perspective by Milo</span>
  </header>

  <main>
  
    <div class="story-articles">
      <div class="pick-side">This</div>
      <div class="pick-side">That</div>
        <article class="story">
          <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
          <img src="" alt="" class="story-thumb">
          <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
    
        <article class="story">
          <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h1>
          <img src="" alt="" class="story-thumb">
          <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
        </article>
        <button class="article-btn">Upvote</button>
        <button class="article-btn">View Perspective</button>
    </div>

    <h2>Discussions</h2>
    <div class="comments">
      <div class="comment">
        <img src="" alt="" class="user-avatar">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et </p>
        <span class="comment-data">Alan | 3hrs ago</span>
      </div>
      <form action="" class="add-comment">
        <textarea name="" id="" cols="30" rows="10">

        </textarea>
        <button>Submit</button>
      </form>
    </div> 

  </main>

</div>

