<style>
  .signup-form {
    /* text-align: center; */
    padding-left: 2rem;
  }

  .signup-form label {
    display: inline-block;
    width: 9rem;
    text-align: left;
  }

  .topics-container {
    display: grid;
    grid-template-columns: 100px 100px 130px;
    grid-template-rows: 30px 30px 30px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    background-color: lightgrey;
  }

  .select-topics, .choose-avatar {
    display: flex;
  }

  .each-topic {
    width: 30%;
    margin: 2px;
    display: flex;
  }

  input[type="checkbox"]:checked + label {
    border: 1px solid grey;
    background-color: grey;
  }
  
  .join-now-btn {
    margin-top: 1rem;
    text-align: center;
  }

</style>

<div class="container-signup">
  <header>
    <h1>Sign Up</h1>
  </header>

  <main>
    <div class="signup-form">
      <form action="/signup" class="signup" method="post" enctype="multipart/form-data">
        <div>
          <label for="">Display Name: </label>
          <input type="text" name="display_name">        
        </div>

        <div class="choose-avatar">
          <div><label for="">Avatar: </label></div>
          <div><input type="file" name="avatar"></div>      
        </div>
        
        <div>
          <label for="">Email: </label>
          <input type="text" name="email">        
        </div>

        <div>
          <label for="">Password: </label>
          <input type="password" name="password">        
        </div>

        <div class="select-topics">
          <div><label for="">Interested topics:</label></div>
          <div class="topics-container">
            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Politics">
              <label for="" class="medium">Politics</label>
            </div>

            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Sport">
              <label for="" class="medium">Sport</label>          
            </div>

            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Science">
              <label for="" class="medium">Science</label>
            </div>

            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Culture">
              <label for="" class="medium">Culture</label>          
            </div>

            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Environment">
              <label for="" class="medium">Environment</label>
            </div>

            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Entertainment">
              <label for="" class="medium">Entertainment</label>
            </div>
            
            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Economy">
              <label for="" class="medium">Economy</label>
            </div>

            <div class="each-topic medium">
              <input type="checkbox" name="topics_of_interest[]" value="Society">
              <label for="" class="medium">Society</label>
            </div>
          </div>        
        </div>

        <div class="join-now-btn"><button>Join Now</button></div>
      </form>
    </div>

  </main>
</div>
<%# need to add .url in layout to avatar current_user.avatar %>
<%# Can i smaple out ten or is that ten new %>
<%# test notifications from start to finish %>
<%# Need to remove current user from the sample %>
<%# Fix avatar forsign up %>
<%# sign in straight into logged %>

