<header>
  <h1>Invitations</h1>
</header>

<main>
  <div class="invite-card">
    <img src="" alt="" class="host-avatar">
    <h2 class="article-title"></h2>
    <span class="host-name">Alan</span><span class="invite-time">3hrs ago</span>
    <button>Accept</button>
    <button>Ignore</button>
  </div>
</main>

