* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: block;
    width: 10%;
    text-align: center;
}

img {
    border-radius: 50%;
}

.heading {
    width: 70%;
}

h1 {
    text-decoration: underline;
    font-size: 4em;
    margin: 10px;
}

.navigation {
    display: block;
    width: 20%;
    text-align: right;
}

.notification {
    display: flex;
    justify-content: flex-end;
}

.invitation {
    padding-left: 10px;
}

.invite-number {
    background-color: lightgrey;
    border-radius: 50%;
}

.sign-out {
    background: none;
	color: black;
	border: none;
	padding: 0;
    outline: none;
    font: inherit;
}

a {
    text-decoration: none;
    color: black;
}