/* * {
    box-sizing: border-box;
    border: 0.25px dashed grey;
} */

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Layout for All Pages */

.wrapper {
    max-width: 425px;
    margin: 0 auto;
}

.container {
    padding: 2%;
    margin-bottom: 1em;
  }

.container h1 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
}

.container h2 {
    font-size: 1.5em;
    font-family: 'Alfa Slab One', cursive;
}

.container h3 {
    font-size: 1.1em;
    font-family: 'Alfa Slab One', cursive;
}

/* Global Styles - applies to all elements on all pages */

.bright {
    border: 1px solid grey;
    background-color: white;
}

.medium {
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

.dark {
    border: 1px solid grey;
    background-color: grey;
}

.profile {
    display: block;
    text-align: center;
    margin-right: 0.5em;
}

.avatar {
    border-radius: 50%;
}

p {
    margin-bottom: 1.1em;
}

em {
    font-family: 'Alfa Slab One', cursive;
    font-style: none;
}

input {
    font-size: 1.1em;
    font-family: inherit;
    padding: 0.25em;
    border: none;
    margin: 0.25em;
}

button {
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin: 0.25em;

}

textarea {
    font-size: 1.1em;
    font-family: inherit;
    padding: 0.25em;
    min-width: 75%;
    border: 1px solid black;
    margin: 0.25em;
}

/* Header & Navigation */

header {
    display: flex;
    padding: 2vw;
    /* justify-content: space-between; */
}

header h1 {
    font-family: 'Alfa Slab One', cursive;
    text-decoration: underline;
    font-size: 2em;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

header .profile {
    width: 10%;
    font-size: 0.5em;
}

.nav {
    display: block;
    text-align: right;
    margin-left: auto;
}

.nav li {
    list-style-type: none;
}

.notification-count {
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
}

.logout {
    background: none;
	color: black;
	border: none;
	padding: 0;
    outline: none;
    font: inherit;
}

.topics-container {
    margin: 10px 0 10px 0; 
    display: flex;
}

.topics-container div {
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
}

.news-container img {
    width: 400px;
}

.article-container, .article-one-container {
    display: flex;
    justify-content: center;
}

.article-one-container img {
    width: 400px;
}

.selectedTopics {
    background-color: lightgreen;
}