* {
  box-sizing: border-box;
}

body {
  margin: 0
}

h1,
h2,
h3,
h4,
p,
blockquote,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* The above is a good start. */

main,
li {
  display: block;
}

/* Inherit */

h1,
h2,
h3,
h4 {
  font-size: inherit; 
}

/* Anchors and Buttons */

/* a,
button {
  color: inherit;
  transition: 0.3s;
} */

/* a:hover {
  color: grey;
}

a:visited {
  color: grey;
} */


/* Images */

img {
  width: 100%;
  border: 0; /* Remove default border from IE */
}