.container-show * {
  border: 0.25px dashed grey;
}

.container-show header {
  display: block;
}

/* .container-show header h1 {
  font-size: 2em;
  text-decoration: none;
} */

.container-show main {
  display: block;
}

.pickside {
  display: flex;
  justify-content: space-around;
}

