<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new invite, <%= @user.name %>. </h1>
    <p>
      You have recieved a new invite to contribute a counter argument to <%= @topic.title %>. <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for participating and have a great day!</p>
  </body>
</html>